<%- include('templates/header.ejs')%> <%- include('templates/navbar.ejs')%>

<div class="container">
  <h1 class="is-size-3">About</h1>
  <div class="content column is-7-tablet is-7-desktop is-7-widescreen">
    <h4 class="pt-4">What is Tijdkaart?</h4>
    <p>Tijdkaart is a translation from Dutch to English to "Time card".</p>
    <h4 class="pt-4">Explanation</h4>
    <ul>
      <li>
        This time card calculator was originally created for personal use but, with a database behind it and a secure enough login system, I decided to put it online, for all of
        the 5 users that are going to end up looking at my site 😇
      </li>
      <li>
        The "Home" page is showing the table for the current month we're in, here you can press the "Add Shift" button and a modal would pop up for you to enter the timerange of
        that specific shift, and if you want - a comment.
      </li>
      <li>
        Upon adding a shift, you would be able to see a quick glance of the current month - total hours, total shifts, and total earned. You can obviously edit what you've added.
      </li>
      <li>In the "History" page you could find your past logged shifts.</li>
      <li>I'll leave the rest for you to figure out 😀</li>
    </ul>
    <h4 class="pt-4">Contact</h4>
    <strong>Email:</strong> asido.ofek@gmail.com<br />
    <strong>Site:</strong> <a href="https://ofekasido.xyz/" target="_blank">Click here</a>
  </div>
</div>

<%- include('templates/footer.ejs') %>
