html {
  background-color: #f0f5f9;
}

.panel-block {
  flex-direction: column;
  align-items: flex-end;
  background: white;
}

.navbar {
  margin-top: -1.5rem;
  background-color: transparent;
}

.navbar-item img {
  max-height: unset;
}

.pen {
  position: absolute;
}

/* Mobile compatability */
@media only screen and (hover: none) and (pointer: coarse) {
  .hide-on-low-res {
    display: none;
  }
}
